<%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "maps", "data-turbo-track": "reload" %>

<%= render 'shared/page_header', sites_count: @sites.count %>

<%= render 'maps/viewer',
    mhd_center_lat: @mhd_center_lat,
    mhd_center_lng: @mhd_center_lng,
    sites: @sites %>

<div class="container">
  <div class="content-section">
    <%= render 'shared/about' %>
  </div>
</div>

<%= render 'shared/map_script' %>