<div class="map-container">
  <div id="sites" data-latitude=<%= mhd_center_lat %> data-longitude=<%= mhd_center_lng %>>
    <div id="map"></div>
    
    <!-- Modal overlay for site details - positioned within map area -->
    <div id="site-modal" class="site-modal-map-overlay" style="display: none;">
      <div class="modal-backdrop-map"></div>
      <div class="modal-content-map">
        <div class="modal-header">
          <button class="modal-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body" id="modal-site-content">
          <!-- Site content will be loaded here -->
        </div>
      </div>
    </div>
  </div>

  <div class="sites-sidebar">
    <h2>Historic Sites</h2>
    <ol>
      <% sites.each_with_index do |site, index| %>
        <li class="site-list-item"
          data-latitude=<%=site.latitude %>
          data-longitude=<%= site.longitude %>
          data-id=<%= site.id %>
          data-index=<%= index %>
          data-historic-name="<%= site.historic_name %>"
          data-address="<%= site.address %>"
          data-description="<%= site.description %>"
          data-built-year="<%= site.built_year %>"
        >
            <h4><%= site.historic_name %></h4>
            <p class="address"><%= site.address %></p>
            <% if site.architectural_style.present? %>
              <p class="architectural-style"><small><%= site.architectural_style %></small></p>
            <% end %>
            <% if site.built_year %>
              <p><small>Built: <%= site.built_year %></small></p>
            <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</div>