<div class="map-container">
  <div id="sites" data-latitude=<%= mhd_center_lat %> data-longitude=<%= mhd_center_lng %>>
    <div id="map" class="static-map-container">
      <%= image_tag google_static_map_url(
        center_lat: mhd_center_lat,
        center_lng: mhd_center_lng,
        sites: sites,
        zoom: 17,
        size: "400x1200"
      ), alt: "Marquette Historic District Map", class: "static-map-image" %>

      <!-- Clickable overlay for numbered markers -->
      <div class="map-marker-overlays">
        <% sites.each_with_index do |site, index| %>
          <a href="#site-<%= site.id %>"
             class="marker-overlay marker-<%= index + 1 %>"
             data-site-id="<%= site.id %>"
             data-site-name="<%= site.historic_name %>"
             title="<%= site.historic_name %>">
            <%= index + 1 %>
          </a>
        <% end %>
      </div>
    </div>

    <!-- Modal overlay for site details - positioned within map area -->
    <div id="site-modal" class="site-modal-map-overlay" style="display: none;">
      <div class="modal-backdrop-map"></div>
      <div class="modal-content-map">
        <div class="modal-header">
          <button class="modal-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body" id="modal-site-content">
          <!-- Site content will be loaded here -->
        </div>
      </div>
    </div>
  </div>

  <div class="sites-sidebar">
    <h2>Historic Sites</h2>
    <ol>
      <% sites.each_with_index do |site, index| %>
        <li class="site-list-item" id="site-<%= site.id %>"
          data-latitude=<%=site.latitude %>
          data-longitude=<%= site.longitude %>
          data-id=<%= site.id %>
          data-index=<%= index %>
          data-historic-name="<%= site.historic_name %>"
          data-address="<%= site.address %>"
          data-description="<%= site.description %>"
          data-built-year="<%= site.built_year %>"
        >
          <a href="javascript:void(0)" onclick="showSiteModal('<%= site.id %>')" class="site-list-link">
            <span class="site-number"><%= index + 1 %></span>
            <div class="site-info">
              <h4><%= site.historic_name %></h4>
              <p class="address"><%= site.address %></p>
              <% if site.architectural_style.present? %>
                <p class="architectural-style"><small><%= site.architectural_style %></small></p>
              <% end %>
              <% if site.built_year %>
                <p><small>Built: <%= site.built_year %></small></p>
              <% end %>
            </div>
          </a>
        </li>
      <% end %>
    </ol>
  </div>
</div>