<script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
<%= stylesheet_link_tag "map", "data-turbo-track": "reload" %>

<div class="page-header">
  <div class="container">
    <h1>Marquette Historic District</h1>
    <p>Explore over 40 historic homes dating from 1881 to 1938 in Kewaunee, Wisconsin</p>
  </div>
</div>

<div class="map-container">
  <div id="sites" data-latitude=<%= @mhd_center_lat %> data-longitude=<%= @mhd_center_lng %>>
    <div id="map"></div>
  </div>

  <div class="sites-sidebar">
    <h2>Historic Sites</h2>
    <ol>
      <% @sites.each do |site| %>
        <li class="site-list-item"
          data-latitude=<%=site.latitude %>
          data-longitude=<%= site.longitude %>
          data-id=<%= site.id %>
          data-historic-name="<%= site.historic_name %>"
          data-address="<%= site.address %>"
          data-description="<%= site.description %>"
          data-built-year="<%= site.built_year %>"
        >
            <h4><%= site.historic_name %></h4>
            <p><%= site.address %></p>
            <% if site.built_year %>
              <p><small>Built: <%= site.built_year %></small></p>
            <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<div class="container">
  <div class="content-section">
    <%= render 'shared/about' %>
  </div>

  <div class="content-section">
    <%= render 'shared/members' %>
  </div>
</div>
